global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:8080
    default_backend test

backend test
    option httpchk GET /check HTTP/1.0\r\nHost:\ www.counter.com
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server s1 localhost:9000 check
    server s2 localhost:9001 check
    server s3 localhost:9002 check
    server s4 localhost:9003 check
    server s5 localhost:9004 check

listen admin
    bind *:8888
    stats enable
    stats uri /haproxy_stats
